Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-filter
channels
channels-redis
celery
redis
psycopg2-binary
django-redis
gunicorn
daphne
pillow
python-decouple
httpx
playwright
beautifulsoup4
sentry-sdk
django-prometheus
whitenoise
drf-yasg
django-cockroachdb